



.main-footer-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #355a46;
    @include default-padding;

    @include tablet {
        grid-template-columns: repeat(3,1fr);

        .tablet-desktop-container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

    }

    @include desktop {
        grid-template-columns: repeat(3,1fr);
        @include default-padding-desktop;

        .tablet-desktop-container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

    }

    .footer-links {
        text-align: left;

        @include tablet {
            margin: 30px 30px 30px 0px;
        }
        @include desktop {
            margin: 30px 30px 30px 0px;

        }
    }


    h4 {
        margin: 30px 0px;
        color:#fffdf7;
        line-height: 1.2;
        font-size: 20px;
        font-weight: 700;
        @include tablet {
            margin: 15px 0px;
            font-size: 15px;
        }

        @include desktop {
            font-size: 20px;
        }

    }

    ul {

        margin: 0;
        padding: 0;

        li {
            list-style: none;
            line-height: 3;
            @include tablet {
                line-height: 2;
            }
            @include desktop {
                line-height: 2.5;
    
            }

            a{
                color:#fffdf7;
                text-decoration: none;
            }

        }
    }

    .contact-main-container {
        grid-column: 1;
        color:#fffdf7;

        .mobile-phone-number {
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            @include tablet {
                text-align: right;
                line-height: 16px;
            }
            @include desktop {
                text-align: right;
    
            }
        }
        
    }

    .social-icons-main-container {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;

        @include tablet {
            justify-content: flex-end;
            margin:37px 0px 29px;
        }
        @include desktop {
            justify-content: flex-end;
            margin:37px 0px 29px;

        }


        .icons {
            padding-right: 5px;
            @include tablet {
            width: 34px;    
            padding-right: 10px;
            }
            @include desktop {
                padding-right: 5px;
            }

        }
    }

    .hours-container {
        grid-column: 1 / span 2;

        P {
            color:rgba(255, 253, 247, 0.4);
            font-size: 16px;
            @include tablet {
                text-align: right;
            }
            @include desktop {
                text-align: right;
    
            }

        }
    }

}


.copyright-container {

    grid-column: 1/ span 2;
    background-color: #4d6458;
    @include desktop {
        @include default-padding-desktop;

    }
            
        p {
            color: #fffdf7;
            padding: 8px 16px ;
            margin: 0;
            opacity: 0.5;
        }
 }