/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button {
	@include default-btn;
}

.btn-red, .btn-red:visited, .btn-red:hover {
	background-color: $dull_red;
	color: $white;
}

.btn-white, .btn-white:visited, .btn-white:hover {
	background-color: $white;
	color: $pine;
}

.btn-white-mocha, .btn-white-mocha:visited, .btn-white-mocha:hover {
	background-color: $white;
	color: $mocha;
}

.btn-pine, .btn-pine:visited, .btn-pine:hover {
	background-color: $pine;
	color: $white;
}