/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button {
	border: 0px;
	height: 48px;
	border-radius: 6%;
	font-family: $font__main;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.19;

}

.btn-red {
	background-color: $dull_red;
	color: $white;
}

.btn-white {
	background-color: $white;
	color: $pine;
}