/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */
.menu-menu-container {
	a {
		color: $color__background-body;
		&:focus {
			outline: thin dotted;
		}
		// &:hover,
		&:active {
			outline: 0;
		}
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	background-color: #192b21;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
