/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__background-body;
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	text-decoration: none;
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	.menu-toggle {
		display: flex;
		justify-content: center;
		background-color: transparent;
		border: none;
	}

	div {
		.nav-menu {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;
			position: absolute;
			top: 48px;
			width: 100vw;
			align-items: flex-start;

			li {
				a {
					margin: 10px;
					display: flex;
					justify-content: flex-start;
				}
				.sub-menu {
					display: none;
					list-style: none;
					padding-left: 30px;

					a {
						margin: 10px;
					}
					
					.sub-menu {
						display: none;
						list-style: none;
						padding-left: 30px;

						a { 
							margin: 10px;
						}
					}

					li:hover > ul,
					li.focus > ul {
						display: block;
					}
				}
				
			}
			
			li:hover > ul,
			li.focus > ul {
				display: block;
			}
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	background-color: #192b21;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
