/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* General */

.archive {
    .content-area {
        @include default-padding;
    }
}

.page-home, .single, .contact-us-site-main { 
    .entry-content {
        @include default-padding;
    }
}

.single {
    .entry-content {
        margin-bottom: 1rem;
    }
}

.mocha-content {
    background-color: $mocha;
    border-radius: 5px;
    @include default-padding;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    margin-bottom: 1rem;

    h1 {
        color: $white;
    }
}

.grey-content {
    background-color: $very-light-pink;
    border-radius: 5px;
    @include default-padding;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 1rem;
}

/* Header */
.site-header {
    .first-sight-header {
        background-color: $pine;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        .main-navigation {

            .menu-button {
                background-color: transparent;
                border: none;
                color: transparent;
                box-shadow: none;
                
                .menu-icon {
                    padding: 21px 22px;
                }
            }
        }
    }

    .site-branding  {
        display: flex;
    }

    .search-form-wrapper {
        display: flex;

        .search-form {
            display: flex;
        }

        .search-form-fieldset {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border: none;
            box-shadow: none;

            .search-submit {
                background-color: transparent;
                border: none;
                box-shadow: none;

                .search-icon {
                    height: 20px;
                }
            }
        }
    }


    // Classes used with function.js
    .hide, .hide-form, .hide-menu {
        display: none;
    }

    .show {
        display: block;
    }

    // Style for search input
    .full-input-form {
        width: 100%;

        .search-form {
            width: 100%;

            .search-form-fieldset {
                width: 100%;
                display: grid;
                grid-template-columns: 9fr 1fr;
                grid-gap: 1fr;

                .search-form-input {
                    grid-column: 1;

                    .search-field {
                        width: 100%;
                    }
                }

                .search-submit {
                    grid-column: 2;
                }
            }
        }
    }
}

/* Front page */

.front-page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/front-page/video-image-edited.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: $color__background-body;
        font-weight: 600;
        line-height: 0.43;
        font-size: 7.3vw;
        padding-top: 65px;
    }

    .front-page-header-btns {
        display: flex;
        flex-direction: column;
        width: 61%;
            a {
                @include default-a-btn;
                margin: 5px;
            }
    }
}

.page-home {
    .mocha-content {
        img {
            margin-bottom: 10px;
        }

        padding-top: 31px;
        padding-bottom: 31px;
    }
}

.fp-image-content {
    margin-bottom: 1rem;
}

.fp-image {
    width: 100%;
    height: 182px;
    border-radius: 5px;
}

.fp-icon {
    width: 42.9px;
    height: 56px;
}

/* Adult Worshops */ 

.aw-information-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;

    div {
        font-size: 0.9rem; 
        font-weight: 600;
        text-align: left;
    }
}

.aw-single-information-container {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;

    div {
        font-size: 0.9rem; 
        font-weight: 600;
        text-align: left;
    }
}

.aw-about {
    @include default-padding;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $very-light-pink;
}

.view-link, .view-link:visited {
    color: $dull_red;
    font-weight: 600;
    text-decoration: none;
}

/* Community Worshops */

.post-type-archive-community_workshop {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.community_workshop {
    .entry-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Fact Sheets */

.page-fact-sheets { 
    .entry-content, .entry-content-fs {
        @include default-padding;
    }
}

.page-fact-sheets {
    .entry-header {
        .entry-title {
            text-align: center;
        }
    }
    .entry-content-fs {
        p {
            text-align: center;
            font-size: 0.8rem; 
        }
    }
    .hentry {
        margin-bottom: 0;
    }
}

.topic-fs {
    font-weight: bold;
}

.type-fs-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
}

.box-fs {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(70, 70, 70, 0.25);
    border-radius: 5px;
    margin-bottom: 1rem;
    @include default-padding;

    h2 {
        margin-top: 1rem;
    }

    a {
        display: inline-block;
        margin-bottom: 1rem;
    }
}

.page > .type-box-fs-content:nth-of-type(even) {
    background-color: $very-light-pink;
}

.type-box-fs-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
}

/* Third Party Resources */

.page-third-party-resources { 
    .entry-content {
        @include default-padding;
    }
}

.page-third-party-resources {
    .entry-header {
        .entry-title {
            text-align: center;
        }
    }
    .hentry {
        margin-bottom: 0;
    }
}

.topic-tps {
    font-weight: bold;
}

.page > .type-box-tps-content:nth-of-type(even) {
    background-color: $very-light-pink;
}

.type-tps-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9rem;
    width: 96%;
}

.box-tps {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(70, 70, 70, 0.25);
    border-radius: 5px;
    margin-bottom: 1rem;
    @include default-padding;

    h2 {
        margin-top: 1rem;
    }

    .view-link {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.type-box-tps-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
}

/* About School Programs */

.page-about-school-programs { 
    .entry-content {
        @include default-padding;
    }
}

.about-school-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/about-school-programs/about-school-programs.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: $color__background-body;
        font-weight: 600;
        line-height: 0.43;
        font-size: 7.3vw;
        padding-top: 65px;
    }

    p {
        color: #fffdf7;
        text-align: center;
    }

}

.images-school-programs {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px rgba(70, 70, 70, 0.3);
}

.image-school-programs-content {
    .entry-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hentry {
        p {
            font-size: 0.94rem;
        }
    }
}

/* Composting for Kids */

.post-type-archive-composting_for_kids {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.composting_for_kids {
    .entry-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Intermediate Programs */

.post-type-archive-intermediate_program {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.intermediate_program {
    .entry-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* High School Programs */

.post-type-archive-high_school_program {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.high_school_program {
    .entry-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Products */

.post-type-archive-product {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.post-type-archive-product {
    .content-area {
        padding-left: initial;
        padding-right: initial;
    }
}

.product-type-content {
    @include default-padding;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-type-content:first-of-type {
    padding-top: initial;
}

.site-main > .product-type-content:nth-of-type(even) {
    background-color: $very-light-pink;
}

 .product {
     .entry-header {
         margin-top: 10px;
         margin-bottom: 10px;
     }
 }

 .product-cost-information {
    display: inline-block;
 }

 .product-extra-information {
     display: inline-block;
     color: $dull_red;
 }

 /* People */

 .people-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px rgba(70, 70, 70, 0.3);
  }

.post-type-archive-people {
    .page-header {
        .page-title {
            text-align: center;
        }
        p {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-size: 0.8rem; 
        }
    }
}

.post-type-archive-people {
    .content-area {
        padding-left: initial;
        padding-right: initial;
    }
}

.people-type-content {
    @include default-padding;
    padding-top: 10px;
    padding-bottom: 10px;
}

.people-type-content:first-of-type {
    padding-top: initial;
}

.site-main > .people-type-content:nth-of-type(even) {
    background-color: $very-light-pink;
}

 .people-type-content {
     .entry-header {
         margin-top: 10px;
         margin-bottom: 10px;

         h2 {
             margin-bottom: 1rem;
         }

         p {
             color: $greyish-brown;
         }
     }
 }

/* Search Pagination */ 

.search-pagination {
    margin-bottom: 2rem;

    .current {
       display: inline-block; 
       padding-left: 15px;
       padding-top: 8px;
       border-radius: 15%;
       font-weight: 600;
       width: 40px;
       height: 40px;
       background-color: $pine;
       color: $white;
       box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2); 
    }
    .page-numbers {
       display: inline-block; 
       padding-left: 15px;
       padding-top: 8px;
       border-radius: 15%;
       font-weight: 600;
       width: 40px;
       height: 40px;
       border: solid 1px rgba(53, 90, 70, 0.5);
       box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .next {
        padding-left: 8px;
        padding-top: 8px;
        width: 52px;
    }

    .prev {
        padding-left: 8px;
        padding-top: 8px;
        width: 85px;
    }

    a, a:visited {
       color: $pine;
       text-decoration: none;
    }
}

/* Contact Us Page */ 

.contact-us-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/Contact-us/contact-us.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: $color__background-body;
        font-weight: 600;
        line-height: 0.43;
        font-size: 7.3vw;
        padding-top: 65px;

    }

    p {
        color: #fffdf7;
    }

}

// Main Content

.contact-us-site-main {

    h2 {
        color: #355a46;
        margin-bottom: 8px;
    }

    .entry-content {
        .about-text {
            color: #464646;
            background-color: rgba(211, 211, 211,0.4);
            padding: 24px;
            margin-bottom: 24px;
            border-radius: 5px;

        }

        //Google Maps
        iframe {
            border-radius: 5px;
            height: 220px;
            margin-bottom: 24px;
        }
    }

    //Contact Form 
    .wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    //Contact Form inside content
    .wp-block-group__inner-container {
        background-color: #a3714e;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 32px;
        
        .contact-form-title {
            color: white;
            margin-bottom: 24px;
        }

        p {
            display: flex;
            justify-content: start;
            color: white;
        }

        input {
            width: 294px;
            height: 40px;
            border-radius: 5px;
            border: 0;
        }

        textarea {
            width: 294px ;
            height: 276px;
            border-radius: 5px;
            border: 0;
        }

        //Submit Button
        .wpcf7-submit  {
            background-color: #fffcf5;
            width: 98px;
            font-weight: 700;
            color: #794d2f;
        }
    }



}

//Hardcoded  Newsletter Subscription box
.subscribe-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    .newsletter-subscription-form {
        background-color: rgba(211, 211, 211, 0.4);
        padding: 25px;
        width: 341px;
        display: flex;
        border-radius: 5px;
        flex-direction: column;

    }

   .subscribe-input {
       width: 294px;
       height: 40px;
       border: 0;
        border-radius: 5px;
       margin-bottom: 16px;

    }

    .subscribe-btn {
        border-radius: 5px;
        margin: 16px 0px;
        color: white;
        width: 110px;
        background-color: #355a46;
    }
}

/* Victoria Soil Quality Map Page */ 

.victoria-soil-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/victoria-soil-quality-map/victoria-header-medium.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: #fffdf7;
        font-size: 26px;
    }

    .victoria-soil-header-description {
        color: #fffdf7;
        text-align: center;
    }


}

//Main Content Victoria Soil

.victoria-soil-site-main {

    h2 {
        color: #355a46;
        font-size: 22px;
    }

    .entry-content {
    @include  default-padding;
    }

     //Google interactive soil map
     iframe {
        height: 640px;
        margin-bottom: 5px;
    }

    //Map Link to new page

    .map-link {
        color: #aa443a;
        font-weight: 700;

    }

    //Font awesome arrow
    .map-link::after {
        content: '\f061';
        font-family: 'Font Awesome 5 free';
        font-weight: 900;
    }


    //Open Applications section

    .wp-block-group__inner-container {

        background-color: #a3714e;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 32px;
        color: #fffcf7;

        h2 {
            color: #fffdf7;
            font-size: 20px;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 2rem;
        }

        .victoria-apply-button {
            background-color: white;
            color: #794d2f;
            padding: 10px;
            width: 117px;
            text-align: center;
            border-radius: 5px;
            font-weight: 700;
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.33);
        }

    }


}

/* Who We Are */
.who-we-are-site-main {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/who-we-are/compost-education-centre-edited.jpg) no-repeat top;
        background-size: 100% 100%;
        width: 100%;
        height: 320px;

        .header-description {
            width: 80%;
            text-align: center;
        }
    }
    .entry-content {
        div:first-child{
            margin: 0;
            border: none;
        }

        .wp-block-group {
            margin: 0 6%;
            margin-bottom: 4%;
            padding: 24px;
            border: 1px solid #d3d3d3;
            border-radius: 5px;
            
            .main-title {
                color: $pine;
                padding-left: 0;
                margin: 3% 0;
            }
            
            .description {
                padding: 24px;
                border: 1px solid #d3d3d3;
                border-radius: 5px;
                background-color: #d3d3d3;
            }
        }

        .wp-block-embed__wrapper {
            
            iframe {
                height: 192px;
                border-radius: 5px;
            }
        }
    }
}

/* Volunteer Page*/


.volunteer-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/volunteer/Volunteer-medium.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: #fffdf7;
        font-size: 26px;
    }

    .volunteer-header-description {
        color: #fffdf7;
        text-align: center;
    }

}

//Main Content

.volunteer-site-main {
    

    h2 {
        color: #355a46;
         font-size: 22px;
    }
    
    .entry-content {
        @include  default-padding;
     }
    
}

// Sign up box section

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    color:white;

  

    .sign-up-title {
        font-size: 21px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .sign-up-form {
        background-color: #a3714e;
        padding: 25px;
        width: 341px;
        display: flex;
        border-radius: 5px;
        flex-direction: column;

    }

    .submit-btn-container {
        display: flex;
        justify-content: center;
    }

   .submit-input {
       width: 294px;
       height: 40px;
       border: 0;
        border-radius: 5px;
       margin-bottom: 16px;

    }

    .submit-btn {
        border-radius: 5px;
        margin: 16px 0px;
        color: #794d2f;
        width: 110px;
        background-color: #fffcf5;
    }
}

/* Teaching Garden */
.teaching-garden-site-main {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/teaching-garden/teaching-garden-hero-edited.jpg) no-repeat top;
        background-size: 100% 100%;
        width: 100%;
        height: 320px;

        h1 {
            color: $white;
        }

        .header-description {
            color: $white;
            width: 80%;
            text-align: center;
        }
    }

    .entry-content {
        margin: 4% 6%;

        h2 {
            color: $pine;
            margin: 4% 0;
        }

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
            padding: 30px;
            background-color: $mocha;
            border-radius: 5px;

            p {
                width: 100%;

                label {
                    width: 100%;
                    background-color: $mocha;
                    border-radius: 5px;

                    
                    span {
                        width: 100%;
                        
                        textarea {
                            width: 100%;
                        }
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: center;
            }

            .submit-button {
                display: flex;
                align-items: center;
                background-color: #fffcf5;
                width: 98px;
                input {
                    color: $dirt-brown;
                }
            }

            input {
                width: 294px;
                height: 40px;
                border: none;
                border-radius: 5px;

            }
        }
    }
}


