/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Header */
.site-header {
    .first-sight-header {
        background-color: #355a46;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        .menu-button {
            background-color: transparent;
            border: none;
            color: transparent;
            box-shadow: none;

            .menu-icon {
                padding: 21px 22px;
            }
        }
    }

    .site-branding  {
        display: flex;
    }

    .search-form-wrapper {
        display: flex;

        .search-form {
            display: flex;
        }

        .search-form-fieldset {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border: none;
            box-shadow: none;

            .search-submit {
                background-color: transparent;
                border: none;
                box-shadow: none;

                .search-icon {
                    height: 20px;
                }
            }
        }
    }


    // Classes used with function.js
    .hide, .hide-form, .hide-menu {
        display: none;
    }

    .show {
        display: block;
    }

    // Style for search input
    .full-input-form {
        width: 100%;

        .search-form {
            width: 100%;

            .search-form-fieldset {
                width: 100%;
                display: grid;
                grid-template-columns: 9fr 1fr;
                grid-gap: 1fr;

                .search-form-input {
                    grid-column: 1;

                    .search-field {
                        width: 100%;
                    }
                }

                .search-submit {
                    grid-column: 2;
                }
            }
        }
    }

    // Style for menu items
    .menu-bar {
        background-color: #192b21;
        
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                color: #fffdf7;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Front page */

.page-home { 
    .entry-content {
        @include default-padding;
    }
}

.front-page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/front-page/video-image-edited.jpg) no-repeat top;
    background-size: 100% 100%;
    width: 100%;
    height: 320px;

    .entry-title {
        color: $color__background-body;
        font-weight: 600;
        line-height: 0.43;
        font-size: 7.3vw;
        padding-top: 65px;
    }

    .front-page-header-btns {
        display: flex;
        flex-direction: column;
        width: 61%;
            a {
                @include default-a-btn;
                margin: 5px;
            }
    }
}

/* Adult Worshops */ 

.post-type-archive-adult_workshop {
    .content-area {
        @include default-padding;
    }
}

.aw-information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;

    div {
        font-size: 0.9rem; 
        font-weight: 600;
        text-align: left;
    }
}

.view-link, .view-link:visited {
    color: $dull_red;
    font-weight: 600;
    text-decoration: none;
}

/* Search Pagination */ 

.search-pagination {
    margin-bottom: 2rem;

    .current {
       display: inline-block; 
       padding-left: 15px;
       padding-top: 8px;
       border-radius: 15%;
       font-weight: 600;
       width: 40px;
       height: 40px;
       background-color: $pine;
       color: $white;
       box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2); 
    }
    .page-numbers {
       display: inline-block; 
       padding-left: 15px;
       padding-top: 8px;
       border-radius: 15%;
       font-weight: 600;
       width: 40px;
       height: 40px;
       border: solid 1px rgba(53, 90, 70, 0.5);
       box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .next {
        padding-left: 8px;
        padding-top: 8px;
        width: 52px;
    }

    .prev {
        padding-left: 8px;
        padding-top: 8px;
        width: 85px;
    }


    a, a:visited {
       color: $pine;
       text-decoration: none;
    }
}